<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinumusBlogs </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="navcontent">
        <div class="navleft">MinimusBlog</div>
        <div class="navright">
          <ul1>Home</ul1>
          <ul2>Hot Topics</ul2>
          <ul3>Viewer Choice</ul3>
        </div>
        <button id="post">+ Post</button>
      </div>
    </header>
    <hr />
    <main>
      <section class="mainfirst">
        <div class="leftsection">
          <div id="left1">Hi Everyone!</div>
          <div id="left2">I'm <span>Hamza</span></div>
          <div id="left3">
            This is my first bloging website, which everyne can use and post
            their ideas on. This free to use and will change your mood.
          </div>
        </div>
        <div class="rightsection">
          <img src="/assets/devimg.png" alt="" />
        </div>
      </section>
      <section class="section-2">
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
      </section>
      <section class="section-3">
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
        <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div>
      </section>
    </main>
  </body>
</html>
