<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinumusBlogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="navcontent">
        <div class="navleft">MinimusBlog</div>
        <div class="navright">
          <ul1>Home</ul1>
          <ul2>Hot Topics</ul2>
          <ul3>Viewer Choice</ul3>
        </div>
        <button id="post">+ Post</button>
      </div>
    </header>
    <hr />
    <main>
      <section class="mainfirst">
        <div class="leftsection">
          <div id="left1">Hello World!🌍 ~ Its good to see you!</div>
          <div id="left2">Mini<span style="background-color: orange; color: white;">mus</span> Blogs!</div>
          <div id="left3">
            Feel free to write whats on your mind, 
            open-source project for everyone!! 🚀 <br>
            Share your thoughts, write comments, on spent time
            reading some articles!⚡
          </div>
        </div>
        <div class="rightsection">
          <img src="/assets/devimg.png" alt="" />
        </div>
      </section>
      <section class="section-2">
        <span style="color: white; font-size: 48px;">Loading Posts, Please be patient!.... 🚀🎯</span>
        <!-- <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div> -->
      </section>
      <section class="section-3">
        <span style="color: white; font-size: 48px;">Loading Posts, Please be patient!.... 🚀🎯</span>
        <!-- <div class="card">
          <div class="card-image"><img src="/assets/card1.jpeg" alt=""></div>
          <div class="card-text">Now is the winter of our discontent
            Made glorious summer by this sun of York;
            And all the clouds that lour'd upon our house
            In the deep bosom of the ocean buried.
            Now are our brows bound with victorious wreaths;</div>
        </div> -->
      </section>
    </main>
  </body>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-about">
        <ul>MinimusBlog!</ul>
        <ul>About Us</ul>
        <ul>News & Feeds</ul>
      </div>
      <div></div>
      <div class="footer-socials">
        <ul><img src="/assets/fb.png" alt=""></ul>
        <ul><img src="/assets/insta.png" alt=""></ul>
        <ul><img src="/assets/twt.png" alt=""></ul>
      </div>
    </div>
    <div class="credentials">
      © 2024 TIME USA, LLC. All Rights Reserved. Use of this site constitutes acceptance of our Terms of Service, Privacy Policy
    </div>
  </footer>
  <script src="/scripts/script.js">


  </script>
</html>
