<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/post.css">
</head>
<body>
    <div class="post-contaier">
        <div class="left-post">
            <div class="post-img"><img src="/assets/test-2.jpg" alt=""></div>
            <div class="post-title">Blog title</div>
            <div class="post-text"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque minus reprehenderit corporis facilis consequatur enim pariatur nam vel amet praesentium molestias tenetur, fuga veritatis a. Facilis deserunt fuga atque amet.
            </div>
        </div>
       <div class="right-comment">
        <div class="right-post">
            <div class="post-person"></div>
            <div>
                <div class="person-name">Darab!</div>
                <div class="comment">
                    Great Blog!
                </div>
            </div>
        </div>
        <div class="right-post">
            <div class="post-person"></div>
            <div>
                <div class="person-name">Darab!</div>
                <div class="comment">
                    Great Blog!
                </div>
            </div>
        </div>
        <div class="right-post">
            <div class="post-person"></div>
            <div>
                <div class="person-name">Darab!</div>
                <div class="comment">
                    Great Blog!
                </div>
            </div>
        </div>

       </div>
        
    </div>
    <div class="button">⬅️ Go back.</div>
</body> 

</html>